@page "/ProductsAndOrders"

@using SalesDashboardBlazor.Services
@using SalesDashboardBlazor.Models
@inject IProductsAndOrdersService ProductsAndOrdersService
@using Telerik.Blazor

<div id="main-section" class="col-xs-12 column stretch">
    <div id="main-section-header" class="row">
        <h2 id="team-efficiency" class="col-xs-12">PRODUCTS & ORDERS</h2>
    </div>
</div>

<TelerikGrid Data="@orders" Height="100%"
             Pageable="true" Sortable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true" PageSize="20" OnRowExpand="@OnRowExpandHandler" Context="context">
    <GridColumns>
        <GridColumn Field="@(nameof(OrderViewModel.OrderID))" Title="OrderID" Filterable="false" />
        <GridColumn Field="@(nameof(OrderViewModel.OrderDate))" Title="OrderDate" DisplayFormat="{0:MM\/dd\/yyyy}" />
        <GridColumn Field="@(nameof(OrderViewModel.CustomerName))" Title="Customer" />
        <GridColumn Field="@(nameof(OrderViewModel.EmployeeName))" Title="Employee" />
        <GridColumn Field="@(nameof(OrderViewModel.ShipCountry))" Title="ShipCountry" />
        <GridColumn Field="@(nameof(OrderViewModel.ShipperName))" Title="Ship via" />
    </GridColumns>

    <DetailTemplate>
        Details for order #  @context.OrderID

        <TelerikTabStrip @ref="orderDetailsTabStrip">
            <TabStripTab Title="Products">

                <TelerikGrid Data="@ordersDetails" Pageable="true" PageSize="5" OnRowExpand="@GetProductDetails" Context="details">
                    <GridColumns>
                        <GridColumn Field="@(nameof(OrderDetailsViewModel.ProductName))"></GridColumn>
                        <GridColumn Field="@(nameof(OrderDetailsViewModel.Price))">
                            <Template Context="details">
                                @((details as OrderDetailsViewModel).Price.GetValueOrDefault().ToString("C2"))
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(OrderDetailsViewModel.Quantity))"></GridColumn>
                        <GridColumn Field="@(nameof(OrderDetailsViewModel.Discount))" DisplayFormat="{0:P2}">
                        </GridColumn>
                        <GridColumn Field="@(nameof(OrderDetailsViewModel.Total))" DisplayFormat="{0:C2}">
                            <FooterTemplate Context="detailsFooter">
                                Grand Total : @detailsFooter.Sum
                            </FooterTemplate>
                        </GridColumn>
                    </GridColumns>

                    <DetailTemplate Context="detailTemplateContext">
                        <div class="product-details-wrapper row">
                            <div class="product-details col-xs-3">

                                <img src="/Content/Products/@(String.Format("{0}{1}", detailTemplateContext.ProductId, ".jpg"))" />

                                <div class="product-name-cat">
                                    <div class="product-name">@detailTemplateContext.ProductName</div>
                                    <div class="product-category">@detailTemplateContext.Category</div>
                                </div>
                            </div>
                            <div class="product-details col-xs-3">
                                <h5>Orders QTY.</h5>

                                <TelerikChart Width="300px" Height="100px">
                                    <ChartTooltip Visible="true"></ChartTooltip>
                                    <ChartLegend Visible="false"></ChartLegend>

                                    <ChartSeriesItems>
                                        <ChartSeries Type="ChartSeriesType.Column" Color="blue"
                                                     Gap="0.2" VisibleInLegend="false"
                                                     Data="@productDetails.OrdersQtys"
                                                     Field="@nameof(OrdersQty.Quantity)">
                                        </ChartSeries>
                                    </ChartSeriesItems>
                                    <ChartCategoryAxes>
                                        <ChartCategoryAxis Visible="false" Categories="@productDetails.OrderDates"></ChartCategoryAxis>
                                    </ChartCategoryAxes>
                                </TelerikChart>

                            </div>
                            <div class="product-details col-xs-1">
                                <h5>In stock</h5>
                                <span class="details-stock">@productDetails.UnitsInStock</span>
                            </div>
                            <div class="product-details col-xs-1">
                                <h5>In order</h5>
                                <span class="details-orders">@productDetails.UnitsOnOrder</span>
                            </div>
                            <div class="product-details col-xs-1">
                                <h5>Reorder</h5>
                                <span class="details-re-order">@productDetails.ReorderLevel</span>
                            </div>
                            <div class="product-details col-xs-3">
                                <h5>Qty. per unit</h5>
                                <span class="details-re-order">@productDetails.ReorderLevel</span><span class="product-metric">kg pkg.</span>
                            </div>
                        </div>
                    </DetailTemplate>

                </TelerikGrid>

            </TabStripTab>
            <TabStripTab Title="Shipping Details">

                <div class='shipping-details'>
                    <ul>
                        <li>
                            <label>Name:</label>@context.ShipName
                        </li>
                        <li>
                            <label>Country:</label>@context.ShipCountry
                        </li>
                        <li>
                            <label>City:</label>@context.ShipCity
                        </li>
                        <li>
                            <label>Address:</label>@context.ShipAddress
                        </li>
                        <li>
                            <label>Postal Code:</label>@context.ShipPostalCode
                        </li>
                    </ul>
                </div>

            </TabStripTab>
        </TelerikTabStrip>
    </DetailTemplate>
</TelerikGrid>

@code {
    Telerik.Blazor.Components.TelerikTabStrip orderDetailsTabStrip;

    private IEnumerable<OrderViewModel> orders;

    private IEnumerable<OrderDetailsViewModel> ordersDetails;

    private ProductViewModel productDetails;

    async Task OnRowExpandHandler(GridRowExpandEventArgs args)
    {
        OrderViewModel item = args.Item as OrderViewModel;
        ordersDetails = ProductsAndOrdersService.GetOrderDetails(item.OrderID);
    }
    async Task GetProductDetails(GridRowExpandEventArgs args)
    {
        OrderDetailsViewModel item = args.Item as OrderDetailsViewModel;
        productDetails = ProductsAndOrdersService.GetProductInformation(item.ProductId);
    }

    protected override async Task OnInitializedAsync()
    {
        orders = await ProductsAndOrdersService.GetOrders();
    }
}
